@use "../abstracts" as *;

/* GENERAL */

.interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5em 0;
}

/* TEMPO */

.interface__tempo-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.interface__tempo-text {
  font-size: 2.5rem;
  margin-bottom: 0.7em;
  font-weight: 500;

  &-span {
    color: $primary-color;
    font-size: 4rem;
    padding-right: 0.05em;
  }
}

/* START-STOP BTN */

.start-stop-btn {
  margin: 3em 0;
  border-radius: 50%;
  height: 5em;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    box-shadow: 0px 0px 0.5em #ffffff;
  }
}

/* SWING TOGGLE */

.interface__swing-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interface__swing-toggle-title {
  letter-spacing: 2px;
  margin: 0.7em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.7rem;
}

.toggle-swing {
  position: relative;
  width: 4.7em;
  height: 2.5em;
  border: 2px solid #444249;
  border-radius: 20px;
  -webkit-transition: border-color 0.6s ease-out;
  transition: border-color 0.6s ease-out;

  &-btn {
    position: absolute;
    top: 4px;
    width: 1.8em;
    bottom: 4px;
    right: 39px;
    background-color: #444249;
    border-radius: 19px;
    cursor: pointer;
    -webkit-transition: all 0.3s 0.1s, width 0.1s, top 0.1s, bottom 0.1s;
    transition: all 0.3s 0.1s, width 0.1s, top 0.1s, bottom 0.1s;
  }

  &-text-on {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    color: rgba(0, 0, 0, 0);
  }

  &-text-off {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 6px;
    font-size: 0.9rem;
    font-weight: 600;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    cursor: pointer;

    color: #444249;
  }
}

.toggle-swing-on {
  border-color: rgba(137, 194, 217, 0.4);
  -webkit-transition: all 0.5s 0.15s ease-out;
  transition: all 0.5s 0.15s ease-out;

  .toggle-swing-btn {
    top: 3px;
    width: 4em;
    bottom: 3px;
    right: 3px;
    border-radius: 23px;
    background-color: $primary-color;
    box-shadow: 0 0 16px #4b7a8d;
    -webkit-transition: all 0.2s 0.1s, right 0.1s;
    transition: all 0.2s 0.1s, right 0.1s;
  }

  .toggle-swing-text-on {
    color: #3b6a7d;
    -webkit-transition: color 0.3s 0.15s;
    transition: color 0.3s 0.15s;
  }

  .toggle-swing-text-off {
    color: rgba(0, 0, 0, 0);
  }
}

/* SWING PART */

.interface__swing {
  margin-top: -4em;
  white-space: nowrap;

  &-text {
    font-size: 1.5rem;
    margin: 1em 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;

    &-span {
      font-size: 2.5rem;
      color: $primary-color;
      padding-left: 0.05em;
    }
  }
}
