@use "../abstracts" as *;

.btn {
  color: white;
  background: transparent;
  cursor: pointer;
  border: 1px solid white;
}

/* UP-DOWN BTN */

.up-btn,
.down-btn {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  font-size: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @include mq(small) {
    width: 1.5em;
    height: 1.5em;
  }

  @include mq(medium) {
    width: 1.7em;
    height: 1.7em;
    font-size: 2.8rem;
  }

  @include mq(large) {
    width: 1.9em;
    height: 1.9em;
    font-size: 3.2rem;
  }

  &:active {
    box-shadow: 0px 0px 0.2em #ffffff;
  }
}

/* TOGGLE BTN */

.toggle {
  position: relative;
  width: 3.95em;
  height: 2em;
  border: 2px solid #444249;
  border-radius: 1.25em;
  -webkit-transition: border-color 0.6s ease-out;
  transition: border-color 0.6s ease-out;

  @include mq(medium) {
    width: 4.8em;
    height: 2.4em;
  }

  @include mq(large) {
    width: 5.7em;
    height: 2.8em;
  }

  @include mq(tablet) {
    width: 6.8em;
    height: 3.3em;
    border-radius: 2em;
  }

  &-btn {
    position: absolute;
    top: 11%;
    width: 1.45em;
    bottom: 10%;
    right: 55%;
    background-color: #444249;
    border-radius: 1.25em;
    cursor: pointer;
    -webkit-transition: all 0.3s 0.1s, width 0.1s, top 0.1s, bottom 0.1s;
    transition: all 0.3s 0.1s, width 0.1s, top 0.1s, bottom 0.1s;

    @include mq(medium) {
      top: 9%;
      width: 1.8em;
      right: 57%;
    }

    @include mq(large) {
      width: 2.15em;
    }

    @include mq(tablet) {
      width: 2.6em;
    }
  }

  &--text-on {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    color: rgba(0, 0, 0, 0);

    @include mq(medium) {
      font-size: 1.1rem;
    }

    @include mq(large) {
      font-size: 1.3rem;
    }

    @include mq(tablet) {
      font-size: 1.55rem;
    }
  }

  &--text-off {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 8%;
    font-size: 0.7rem;
    font-weight: 600;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: pointer;
    color: #444249;

    @include mq(medium) {
      font-size: 0.85rem;
    }

    @include mq(large) {
      font-size: 1rem;
    }

    @include mq(tablet) {
      font-size: 1.2rem;
    }
  }
}

.toggle--on {
  border-color: rgba(137, 194, 217, 0.4);
  -webkit-transition: all 0.5s 0.15s ease-out;
  transition: all 0.5s 0.15s ease-out;

  .toggle-btn {
    top: 9%;
    width: 3.2em;
    bottom: 10%;
    right: 6%;
    border-radius: 1.45em;
    background-color: $primary-color;
    box-shadow: 0 0 1em #4b7a8d;
    -webkit-transition: all 0.2s 0.1s, right 0.1s;
    transition: all 0.2s 0.1s, right 0.1s;

    @include mq(small) {
      top: 11%;
    }

    @include mq(medium) {
      bottom: 11%;
      width: 3.9em;
      right: 7%;
    }

    @include mq(large) {
      width: 4.9em;
      right: 5%;
    }

    @include mq(tablet) {
      width: 5.9em;
    }
  }

  .toggle--text-on {
    color: #3b6a7d;
    -webkit-transition: color 0.3s 0.15s;
    transition: color 0.3s 0.15s;
  }

  .toggle--text-off {
    color: rgba(0, 0, 0, 0);
  }
}

/* RADIO BTN */

.radio-btn {
  height: 4em;
  width: 6.5em;
  letter-spacing: 1px;
  border: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;

  @include mq(small) {
    height: 4.5em;
    width: 7em;
    font-size: 1.3rem;
  }

  @include mq(medium) {
    height: 5em;
    width: 7.5em;
    font-size: 1.4rem;
  }

  @include mq(large) {
    height: 5.5em;
    width: 8em;
    font-size: 1.5rem;
  }

  @include mq(tablet) {
    font-size: 1.7rem;
  }

  &--selected {
    box-shadow: inset 0.1rem 0.1rem 0.25rem $primary-color,
      inset -0.1rem -0.1rem 0.25rem $primary-color;
    border-radius: 0.3em;
    color: $primary-color;
    transition: all 0.3s ease;
  }
}
