@use "../abstracts" as *;

.divider-container {
  width: 100vw;
}

.divider-lines {
  height: 3em;
  position: relative;
  display: flex;

  &::after,
  &::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 1.5px;
    width: 41%;
    top: 50%;
    border-radius: 10px;

    @include mq(medium) {
      width: 43%;
    }

    @include mq(large) {
      width: 44%;
    }
  }

  &::after {
    left: 0;
    background: linear-gradient(to right, rgb(87, 87, 87), #fff);
  }

  &::before {
    right: 0;
    background: linear-gradient(to left, rgb(87, 87, 87), #fff);
  }
}

.divider-diamond {
  height: 1.8em;
  width: 1.8em;
  border: 2px solid #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);

  @include mq(large) {
    height: 2.1em;
    width: 2.1em;
  }

  @include mq(tablet) {
    height: 2.4em;
    width: 2.4em;
  }

  @include mq(laptop) {
    height: 2.7em;
    width: 2.7em;
  }
}
