.divider-container {
  width: 100%;
}

.divider-lines {
  height: 3em;
  position: relative;
  display: flex;
}

.divider-lines::after,
.divider-lines::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 1.5px;
  width: 43%;
  top: 50%;
  border-radius: 10px;
}

.divider-lines::after {
  left: 0;
  background: linear-gradient(to right, rgb(87, 87, 87), #fff);
}

.divider-lines::before {
  right: 0;
  background: linear-gradient(to left, rgb(87, 87, 87), #fff);
}

.divider-diamond {
  height: 1.8em;
  width: 1.8em;
  border: 2px solid #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
}
