@use "../abstracts" as *;

.slider {
  width: 11em;
  background: $slider-color;
  border-radius: 0.5em;
  margin: 0.8em;

  @include mq(small) {
    width: 13em;
  }

  @include mq(medium) {
    width: 17em;
  }

  @include mq(large) {
    width: 21em;
    margin: 1em;
  }

  @include mq(tablet) {
    width: 27em;
  }

  appearance: none;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  &::-moz-range-thumb {
    border: none;
  }

  &::-webkit-slider-runnable-track {
    @include track-style;
  }
  &::-webkit-slider-thumb {
    @include thumb-style;
  }
  &::-moz-range-track {
    @include track-style;
  }
  &::-moz-range-thumb {
    @include thumb-style;
  }
}
