html,
body {
  min-height: 100vh;
  min-width: 100vw;
  overflow: auto;
  overflow-x: hidden;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../assets/images/Jazz.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
