@use "../../../abstracts" as *;

.audio__control {
  text-align: center;
  padding: 1em 1.5em;

  &-title {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1.5em;

    @include mq(small) {
      font-size: 2rem;
    }

    @include mq(medium) {
      font-size: 2.5rem;
    }

    @include mq(large) {
      font-size: 3rem;
    }
  }

  &-switch {
    .radio-btn {
      margin: 0 0.5em 2.5em;
    }
  }

  margin: 4em 0;
}

.audio__artificial {
  &-control {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-frequency-text {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.4rem;
    margin-bottom: 0.8em;

    @include mq(small) {
      font-size: 1.5rem;
    }

    @include mq(medium) {
      font-size: 1.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0.5em;
    }

    @include mq(large) {
      font-size: 2.1rem;
    }

    span {
      color: $primary-color;
      font-size: 1.7rem;

      @include mq(small) {
        font-size: 1.9rem;
      }

      @include mq(medium) {
        font-size: 2.2rem;
        margin-top: 0.2em;
      }

      @include mq(large) {
        font-size: 2.8rem;
        margin-top: 0.4em;
      }
    }
  }
}

.audio__drum {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-item {
    padding: 1em 0;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 1em;
    width: 80%;

    @include mq(medium) {
      width: 70%;
    }

    @include mq(large) {
      width: 65%;
    }

    .drum-btn {
      border: none;
      font-size: 1.2rem;
      letter-spacing: 1px;

      @include mq(medium) {
        font-size: 1.4rem;
      }

      @include mq(large) {
        font-size: 1.5rem;
      }
    }
  }

  .audio__drum-item--selected {
    border: 1px solid $primary-color;
    box-shadow: inset 0px 0px 10px $primary-color;

    button {
      color: $primary-color;
    }
  }
}
