@use "../../../abstracts" as *;

.header {
  padding: 3em;

  &__text {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.5;

    @include mq(small) {
      font-size: 3.2rem;
    }

    @include mq(medium) {
      font-size: 4rem;
    }
  }

  @include mq(medium) {
    padding: 4em;
  }
}
