@use "../../../abstracts" as *;

/* GENERAL */

.interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 5em;
}

/* TEMPO */

.interface__tempo-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.interface__tempo-text {
  font-size: 2rem;
  margin-bottom: 0.7em;
  font-weight: 500;

  @include mq(small) {
    font-size: 2.4rem;
  }

  @include mq(medium) {
    font-size: 2.8rem;
  }

  @include mq(large) {
    font-size: 3.2rem;
  }

  @include mq(tablet) {
    font-size: 3.6rem;
  }

  &-span {
    color: $primary-color;
    font-size: 3rem;
    padding-right: 0.1em;

    @include mq(small) {
      font-size: 3.6rem;
    }

    @include mq(medium) {
      font-size: 4rem;
    }

    @include mq(large) {
      font-size: 4.8rem;
    }

    @include mq(tablet) {
      font-size: 5.2rem;
    }
  }
}

/* START-STOP BTN */

.start-stop-btn {
  margin: 3em 0;
  border-radius: 50%;
  height: 4em;
  width: 4em;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(small) {
    height: 5em;
    width: 5em;
  }

  @include mq(medium) {
    height: 6em;
    width: 6em;
  }

  @include mq(large) {
    height: 7em;
    width: 7em;
  }

  &:active {
    box-shadow: 0px 0px 0.5em #ffffff;
  }

  &-icon {
    /* USING !important TO OVERRIDE SVG FONT-SIZE */
    font-size: 2.3rem !important;

    @include mq(small) {
      font-size: 3rem !important;
    }

    @include mq(medium) {
      font-size: 3.5rem !important;
    }

    @include mq(large) {
      font-size: 4rem !important;
    }
  }
}

/* SWING TOGGLE */

.interface__swing-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interface__swing-toggle-title {
  letter-spacing: 2px;
  margin: 0.7em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;

  @include mq(small) {
    font-size: 1.7rem;
  }

  @include mq(medium) {
    font-size: 2rem;
    margin-top: 1.2em;
  }

  @include mq(large) {
    font-size: 2.4rem;
    margin-top: 1.5em;
  }

  @include mq(tablet) {
    font-size: 2.7rem;
  }
}

/* SWING SECTION */

.interface__swing {
  margin-top: -4em;
  white-space: nowrap;

  &-control {
    display: flex;
    align-items: center;
  }

  &-text {
    font-size: 1.3rem;
    margin: 1em 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(small) {
      font-size: 1.5rem;
    }

    @include mq(medium) {
      font-size: 1.8rem;
    }

    @include mq(large) {
      font-size: 2.1rem;
    }

    @include mq(tablet) {
      font-size: 2.3rem;
    }

    &-span {
      font-size: 2.5rem;
      color: $primary-color;
      margin-top: 0.2em;

      @include mq(small) {
        font-size: 2.8rem;
      }

      @include mq(medium) {
        font-size: 3.2rem;
      }

      @include mq(large) {
        font-size: 4rem;
      }

      @include mq(tablet) {
        font-size: 4.4rem;
      }
    }
  }
}
