@use "../../../abstracts" as *;

.notation {
  margin-top: -2em;

  .divider-container {
    margin-top: -2em;
  }
}

.notation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  margin-top: -1em;

  &-item {
    flex: 0 0 40%;
    margin: 2em 0;
    text-align: center;
  }
}

/* STRESSING PART */

.notation__stress {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-toggle {
    display: flex;
    align-items: center;
    margin: 4em 0 1em;

    .toggle {
      &--on {
        .toggle-btn {
          top: 10%;
          bottom: 11%;
        }
      }
    }

    &-text {
      font-weight: 400;
      letter-spacing: 1px;
      margin-right: 1em;
      font-size: 1.4rem;
    }
  }

  &-control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;

    .notation__stress-text {
      font-size: 2rem;
      color: $primary-color;
      padding: 0 1em;
    }
  }

  &-frequency {
    padding: 3em 0 6em;
    text-align: center;

    &-control {
      display: flex;
      align-items: center;
    }

    &-text {
      font-weight: 500;
      padding-bottom: 1em;
      letter-spacing: 1px;
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        color: $primary-color;
        font-size: 1.8rem;
        margin-top: 0.2em;
      }
    }
  }
}
