@use "../../../abstracts" as *;

.notation {
  margin-top: -2em;

  .divider-container {
    margin-top: -2em;

    @include mq(desktop) {
      margin-top: 3em;
    }
  }
}

.notation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  max-width: 1000px;
  margin: -1em auto 0em;

  @include mq(laptop) {
    flex-wrap: nowrap;
  }

  @include mq(desktop) {
    max-width: 1100px;
  }

  &-item {
    flex: 0 0 40%;
    margin: 2em 1em;
    text-align: center;

    @include mq(medium) {
      margin: 2em 0;
    }

    @include mq(laptop) {
      flex: auto;
      margin: 4em 1em;
    }

    .radio-btn {
      @include mq(laptop) {
        font-size: 1.4rem;
      }

      @include mq(desktop) {
        font-size: 1.6rem;
      }
    }
  }
}

/* STRESSING PART */

.notation__stress {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-toggle {
    display: flex;
    align-items: center;
    margin: 4em 0 1em;

    .toggle {
      &-btn {
        @include mq(medium) {
          right: 56%;
        }

        @include mq(tablet) {
          width: 2.5em;
          right: 58%;
        }
      }

      &--on {
        .toggle-btn {
          top: 10%;
          bottom: 11%;

          @include mq(medium) {
            bottom: 10%;
            top: 11%;
            right: 5%;
            width: 4em;
          }

          @include mq(large) {
            top: 10%;
            right: 4%;
            width: 4.9em;
          }

          @include mq(tablet) {
            width: 6em;
            top: 9%;
          }
        }
      }
    }

    &-text {
      font-weight: 400;
      letter-spacing: 1px;
      margin: 0 1em 0.2em 0;
      font-size: 1.4rem;

      @include mq(small) {
        font-size: 1.6rem;
      }

      @include mq(medium) {
        font-size: 1.9rem;
      }

      @include mq(large) {
        font-size: 2.2rem;
      }

      @include mq(tablet) {
        font-size: 2.4rem;
      }
    }
  }

  &-control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;

    .notation__stress-text {
      font-size: 2rem;
      color: $primary-color;
      padding: 0 1em;

      @include mq(small) {
        font-size: 2.8rem;
      }

      @include mq(medium) {
        font-size: 3.4rem;
      }

      @include mq(large) {
        font-size: 3.8rem;
      }

      @include mq(tablet) {
        font-size: 4.2rem;
      }
    }
  }

  &-frequency {
    padding: 3em 0 6em;
    text-align: center;

    @include mq(tablet) {
      padding: 4em 0 6em;
    }

    &-control {
      display: flex;
      align-items: center;
    }

    &-text {
      font-weight: 500;
      padding-bottom: 1em;
      letter-spacing: 1px;
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include mq(small) {
        font-size: 1.6rem;
      }

      @include mq(medium) {
        font-size: 1.8rem;
      }

      @include mq(large) {
        font-size: 2.1rem;
      }

      @include mq(tablet) {
        font-size: 2.3rem;
      }

      span {
        color: $primary-color;
        font-size: 1.8rem;
        margin-top: 0.2em;

        @include mq(small) {
          font-size: 2.2rem;
        }

        @include mq(medium) {
          font-size: 2.6rem;
        }

        @include mq(large) {
          font-size: 3rem;
        }

        @include mq(tablet) {
          font-size: 3.5rem;
        }
      }
    }
  }
}
