@use "../../../abstracts" as *;

.guide__article {
  padding: 2em;
  max-width: 1000px;

  @include mq(medium) {
    padding: 3em;
  }

  @include mq(large) {
    padding: 4em 3em;
  }

  .guide__title {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 2px;
    color: $primary-color;
    margin-bottom: 0.5em;

    @include mq(small) {
      font-size: 2rem;
    }

    @include mq(medium) {
      font-size: 2.5rem;
    }

    @include mq(large) {
      font-size: 3rem;
    }

    @include mq(tablet) {
      font-size: 3.6rem;
    }
  }

  .guide__para {
    font-size: 1rem;
    line-height: 1.4;
    padding: 1em 0;

    @include mq(small) {
      font-size: 1.1rem;
    }

    @include mq(medium) {
      font-size: 1.2rem;
    }

    @include mq(large) {
      font-size: 1.3rem;
    }

    @include mq(tablet) {
      font-size: 1.5rem;
    }
  }

  ul {
    font-size: 1rem;

    @include mq(medium) {
      font-size: 1.2rem;
    }

    @include mq(large) {
      font-size: 1.3rem;
    }

    @include mq(tablet) {
      font-size: 1.5rem;
    }

    li {
      margin-bottom: 0.3em;
    }
  }
}
