@use "../../abstracts" as *;

nav {
  display: flex;
  width: 100%;
  min-height: 10vh;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;

  a {
    text-decoration: none;
    margin: 0 1.3em;
  }

  .nav__logo {
    color: $primary-color;
    font-size: 1.8rem;
  }

  .nav__guide {
    color: #fff;
    font-size: 1.4rem;
    margin-top: 0.5em;
    letter-spacing: 1px;
    font-weight: 300;
    transition: all 0.3s ease;

    &:hover {
      color: $primary-color;
    }
  }
}
